@page
@model rylogic.co.nz.Pages.TextAligner.TextAlignerModel
@{
    ViewData["Title"] = "Text Aligner";
}

<div>
    <img class="feature-graphics" src="~/images/textaligner/screen-shot-0.png" alt="Text Aligner Feature Graphics">
</div>

<div>
    <h3>Text Aligner</h3>
    <p class="one-liner-description">
        Text Aligning extension for Visual Studio.
    </p>
</div>

<div class="features">
    <h3>Key Features</h3>
    <ul>
        <li>(todo)</li>
    </ul>
</div>

<div class="download_buttons">
    <a href="@Model.DownloadVS2022Url">
        <b>Download Now (VS 2022)</b>
        <p>@Model.DownloadVS2022File (@Model.DownloadVS2022Size)</p>
    </a>
</div>

<div class="download_buttons">
    <a href="@Model.DownloadVS2019Url">
        <b>Download Now (VS 2019)</b>
        <p>@Model.DownloadVS2019File (@Model.DownloadVS2019Size)</p>
    </a>
</div>

<div>
    <h6>Alternatively, download from the Visual Studio Marketplace</h6>
    <ul>
        <li><a href="https://marketplace.visualstudio.com/items?itemName=Rylogic.RylogicTextAligner64">Visual Studio 2022 Marketplace Version</a></li>
        <li><a href="https://marketplace.visualstudio.com/items?itemName=Rylogic.RylogicTextAligner">Visual Studio 2019 Marketplace Version</a></li>
        <li><a href="https://marketplace.visualstudio.com/items?itemName=Rylogic.rylogic-textaligner-vscode">Visual Studio Code Marketplace Version</a></li>
    </ul>
</div>

<div>
    <p>For source code, check out my <a href="https://github.com/psryland/rylogic_code/tree/main/projects/apps/Rylogic.TextAligner">GitHub Repository</a></p>
</div>
